<div class="pure-u-1 pure-u-md-1-3">
  <form action="/auth/login" method="POST">
    <label for="auth-email"></label>
    <input id="auth-email" type="email" name="email" placeholder="email">
</div>
  <div class="pure-u-1 pure-u-md-1-3">
    <label for="auth-password"></label>
    <input id="auth-password" type="password" name="password" placeholder='password'>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <button>Login</button>
  </form>
  </div>
