<form action="/auth/signup" method="POST">
    <label for="firstName">First name</label>
    <input id="firstName" type="text" name="firstName">
    
    <label for="lastName">Last name</label>
    <input id="lastName" type="text" name="lastName">
  
    <label for="email">Email</label>
    <input id="email" type="email" name="email">
    
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
  
    <label for="city">City</label>
    <input id="city" type="city" name="city">
  
    <label for="state">State</label>
    <input id="state" type="state" name="state">
  
    <label for="description">Description</label>
    <input id="description" type="description" name="description">
  
    
  
  
    <input type="submit" value="Sign up">
  </form>