<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<form  method="GET" action="/search">
    City: <input type="text" name="city" id="" placeholder="city">
   State: <input type="text" name="state" id="" placeholder="state">
    <button type="submit">Submit </button>
</form>