

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
  height: 50px;
}

body {
  display: grid inline ;
  justify-content: center;
  text-align: center;
  background-color: #e0e0e0 ;
  font-family:  'Lato', sans-serif;
  color: black;
  
  
  
}

nav {
  background-color: #e57373 ;
  height: auto;
}

.pure-u-1 {
  margin: 5px;
  
}

button {
  border-radius: 8px;
  background-color: #e57373 ;
  
  color: black;
  
}

img {
  width: 300px;
  height: 300px;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e57373;
  color: white;
  text-align: center;
  height: 100px;
}

h3 {
  margin: 200px;
  color: white;
}