nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

body {
  display: grid inline ;
  justify-content: center;
  text-align: center;
  background-color: grey;
  
  
}

#login {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: 600px;
  
  
}

footer {
  height: 200px;
  width: auto;
  

}